{% extends 'todoapp/base.html' %}
{% block content %}
{{ error }}



<div class=" text-center">
    <div class="text-bg-dark p-5 me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-1 py-3">
            <h2 class="display-5">{{ todo.title }}</h2>
            <h3>{{error}}</h3>
        </div>
        <!-- <button class="btn btn-success" type="submit"> Save </button> -->
        <div class="bg-light  shadow-sm mx-auto" style="width: 80%; height: 400px; border-radius: 21px 21px 0 0;">
            <div class="col-md-10 text-center mx-auto ">
                <div class="h-1 p-1 text-bg-light rounded-3 ">
                    <div class="h-100 p-2 text-bg-warning rounded-3 ">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success" type="submit"> Save </button>
                        </form>
                        <!-- <form method="POST" action="{% url 'completetodo' todo.id %}">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit"> Complete </button>
                        </form>
                        <form method="POST" action="{% url 'deletetask' todo.id %}">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit"> Delete </button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="h-100 p-5 text-bg-light rounded-3 ">
        <form method="POST">
            <a class="btn " href="{% url 'signupuser' %}" role="button"></a>
        </form>
        <form method="POST" action="{% url 'completetodo' todo.id %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit"> Complete </button>
        </form>
        <form method="POST">
            <a class="btn " href="{% url 'signupuser' %}" role="button"></a>
        </form>
        <form method="POST" action="{% url 'deletetask' todo.id %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit"> Delete </button>
        </form>

        
    </div>
{% endblock %}